.App {
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transition: all 0.25s ease;
  transition-delay: 0.25s;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.25s ease;
  transition-delay: 0.25s;
}

.fade-exit {
  opacity: 1;
  transition: all 0.25s ease;
}

.fade-exit-active {
  opacity: 0;
  transition: all 0.25s ease;
}

@font-face {
  font-family: "Helvetica-Black";
  src: url("fonts/HelveticaNowDisplay-Black.ttf");
}
@font-face {
  font-family: "Helvetica-ExtraBold";
  src: url("fonts/HelveticaNowDisplay-ExtraBold.ttf");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("fonts/HelveticaNowDisplay-Bold.ttf");
}
@font-face {
  font-family: "Helvetica-Medium";
  src: url("fonts/HelveticaNowDisplay-Medium.ttf");
}
@font-face {
  font-family: "Helvetica-Regular";
  src: url("fonts/HelveticaNowDisplay-Regular.ttf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("fonts/HelveticaNowDisplay-Light.ttf");
}
@font-face {
  font-family: "Helvetica-ExtraLight";
  src: url("fonts/HelveticaNowDisplay-ExtLt.ttf");
}
