.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Helvetica-Black";
  src: url("fonts/HelveticaNowDisplay-Black.ttf");
}
@font-face {
  font-family: "Helvetica-ExtraBold";
  src: url("fonts/HelveticaNowDisplay-ExtraBold.ttf");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("fonts/HelveticaNowDisplay-Bold.ttf");
}
@font-face {
  font-family: "Helvetica-Medium";
  src: url("fonts/HelveticaNowDisplay-Medium.ttf");
}
@font-face {
  font-family: "Helvetica-Regular";
  src: url("fonts/HelveticaNowDisplay-Regular.ttf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("fonts/HelveticaNowDisplay-Light.ttf");
}
@font-face {
  font-family: "Helvetica-ExtraLight";
  src: url("fonts/HelveticaNowDisplay-ExtLt.ttf");
}
